
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  padding: 20px;
}
h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
form {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
input[type="file"] {
  display: block;
  margin-top: 5px;
}
button[type="submit"] {
  display: block;
      margin: 0 auto;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: #4caf50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
}
